@font-face {
	font-family:"Anton";
	src:url("../Fonts/Anton/Anton.ttf");
}
@font-face {
	font-family:"Merriweather Regular";
	src:url("../Fonts/Merriweather/Merriweather-Regular.ttf");
}
[class*="col-"] {
	background-color:#93C5FC;
	border: 1px solid black;
	border-collapse: collapse;
	line-height: 40px;
	text-align: center;
	font-family: Anton Regular;
	color:black;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Anton Regular!important;
	color:black!important;
}

p {
	font-family: Merriweather Regular;
	color:black;
}

a {
	font-family: Merriweather Regular;
	color:black;
}

@media (min-width:1170px) {
	#arbo .form-control {
		width:23.5%!important;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 95%!important;
	}
	.col-lg-8 {
		margin-top: -50px;
	}
}

/* Nathan */
@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: -1px;
	}
}
a {
	color: black!important;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}
.img-brand {
    width:300px; 
    height:auto!important;
    margin-top:-20px;
    padding-bottom: 0px!important;
    pointer-events: none;
}
.container{
	margin-top:100px;
}
nav {
	background-color:#93C5FC;
}
@media (min-width: 1200px) {
	#login-colL {
		margin-left:6.25%;
	}
	#login-colR {
		margin-left:4.1666666675%;
	}
}
.loginTitle {
	border: solid 2px;
	margin-left:10px;
	margin-right:10px;
	padding:4px;
	font-weight:bold;
}
.logindiv {
	min-height:60vh !important;
}
.loginText {
	padding-left:10%;
	padding-right:10%;
}

@media (min-width: 768px) {
.loginText {
	  position: absolute;
  }
}
#login-form form {
    padding: 10%;
    padding-bottom:0px;
}
#login-form input {
	text-align: center;
}

#login-form .btnSubmit {
    font-weight: 600;
    color: #fff;
    width: 30%;
    border-radius: 1rem;
    padding: 0.5%;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
}
.btnSubmit:hover { background-position: right center; }

#formSubmit {
	text-align: right!important;
	margin-top:3rem;
}

.img-login {
    width:60%; 
    height:auto!important;
    pointer-events: none;
    margin-top:10%;
}
.form-group a {
text-align: left!important;
}
p {
font-size:16px;
}
img {
    user-select: none!important;
}
@media (min-width: 1200px) {
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
}
.active, .active a {
	background-color:white;
}
.logo_bioinc {
width:40%; 
}
.team_row div {
	border: none;
	line-height: 1.42857143;
	padding-right: 0px;
    padding-left:  0px;
}
.team_row {
    margin-right:  0px!important;
    margin-left:   0px!important;
}
@media screen (min-width: 992px) {
.col-md-6 img {
width:75%;
}
}

.col-md-6 img {
    max-width: -webkit-fill-available;
    height: auto;
}
.team {
margin-top:20px;
}

div.active {
	background-color:#93C5FC;
}

/* Julien */
.tabES {
    border-collapse: collapse;
    width:500px
}

.tabES td {
    border: 1px solid black;
}

#infos, #add, #modify {
	border:none!important;
}

.labES { 
	width:250px; 
}


/*Céline*/
.img_patient{
	width: 150px;
	margin-top: 50px;
	

}

.male_patient{
	width: 20px;
	
}