@font-face {
	font-family:"Anton";
	src:url("../Fonts/Anton/Anton.ttf");
}
@font-face {
	font-family:"Merriweather Regular";
	src:url("../Fonts/Merriweather/Merriweather-Regular.ttf");
}
[class*="col-"] {
	background-color:#93C5FC;
	border: 1px solid black;
	border-collapse: collapse;
	line-height: 40px;
	font-family: Anton Regular;
	color:black;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Anton Regular!important;
	color:black!important;
}

#newPWDcontainer {
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

#newPasswdForm {
	padding-left: 40px;
	padding-right: 40px;
	border: 1px solid black;
	background-color: #93C5FC;
	display: inline-block;
  cursor: pointer;
  width: 600px;
}

p {
	font-family: Merriweather Regular;
	color:black;
}

a {
	font-family: Merriweather Regular;
	color:black;
}

@media (min-width:1170px) {
	#arbo .form-control {
		width:23.5%!important;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 95%!important;
	}
	.col-lg-8 {
		margin-top: -50px;
	}
}

/* Nathan */
.align_row {
	text-align:center;
}
@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: -1px;
	}
}
a {
	color: black!important;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}
.img-brand {
    width:300px;
    height:auto!important;
    margin-top:-20px;
    padding-bottom: 0px!important;
    pointer-events: none;
}
.container{
	margin-top:100px;
}
nav {
	background-color:#93C5FC;
}
@media (min-width: 1200px) {
	#login-colL {
		margin-left:6.25%;
	}
	#login-colR {
		margin-left:4.1666666675%;
	}
}
.loginTitle {
	border: solid 2px;
	margin-left:10px;
	margin-right:10px;
	padding:4px;
	font-weight:bold;
}
.logindiv {
	min-height:60vh !important;
}
.loginText {
	padding-left:10%;
	padding-right:10%;
}

@media (min-width: 768px) {
.loginText {
	  position: absolute;
  }
}
#login-form form {
    padding: 10%;
    padding-bottom:0px;
}
#login-form input {
	text-align: center;
}
#login-form .btnSubmit {
    font-weight: 600;
    color: #fff;
    width: 30%;
    border-radius: 1rem;
    padding: 0.5%;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
}
.btnSubmit:hover { background-position: right center; }

#formSubmit {
	text-align: right!important;
	margin-top:3rem;
}
.img-login {
    width:60%;
    height:auto!important;
    pointer-events: none;
    margin-top:10%;
}
.form-group {
	text-align: left!important;
}
.form-group a:hover{
	color:blue!important;
}
p {
	font-size:16px;
}
img {
    user-select: none!important;
}
@media (min-width: 1200px) {
	.row-eq-height {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	}
}
.active, .active a {
	background-color:white;
}
.logo_bioinc {
width:40%;
}
.team_row div {
	border: none;
	line-height: 1.42857143;
	padding-right: 0px;
    padding-left:  0px;
}
.team_row img {
	max-width:200px;
	max-height:200px;
}
.team_row {
    margin-right:  0px!important;
    margin-left:   0px!important;
}
@media screen (min-width: 992px) {
	.col-md-6 img {
		width:75%;
	}
}
.col-md-6 img {
    max-width: -webkit-fill-available;
    height: auto;
}
.team {
margin-top:20px;
}
div.active {
	background-color:#93C5FC;
}
/* Julien */
.tabES {
    border-collapse: collapse;
    width:500px;
    margin: 0 auto;
}
.tabES td {
    border: 1px solid black;
    text-align:center;
}
.infos, .infos2, .infos3, .infos4, .photo, #add, #modify {
	border:none!important;
}
.labES {
	width:250px;
}
.tableaux {
	text-align:center;
}
.modif {
	text-align:center;
}
.fa-folder-open {
	font-size:170px;
}
.hosp div {
	border:none!important;
	text-align:center;
}
.hosp button{
	background-color: transparent;
	border: none;
}

.const p {
	display:inline-block;
	margin-left:30px;
}
.const p:nth-child(1) {
	margin-left:0px;
}

/*Céline*/
.img_patient{
	width: 150px;
	margin-top: 50px;
}

.male_patient, .female_patient{
	width: 20px;
}

.tabAntecedent th, tabAntecedent td {
	padding: 15px;
	text-align: center;
	letter-spacing: 0.5px;
 }
 
.tabAntecedent thead {
	border-bottom: 1px solid black;
}

.tabAntecedent{
	text-align: center;
	width: 100%;
	padding-right: 0!important;
    padding-left: 0!important;
    border-collapse: collapse;
}  
.tabAntecedent tr:nth-child(even) {
	background-color: #ffffff;
}

.tabAntecedent tr:nth-child(odd) {
	background-color: #c3f1ff;
}	
